body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 100;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  display: block;
  margin: 0 auto;
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  position: relative;
  z-index: 1;
}

.feature-icon {
  color: #ef8172;
  padding: 5% 0;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.feature-text {
  color: #8f8f8f;
  line-height: 1.5;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testomonial-text {
  font-size: 2.5rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-control-prev {
  border-width: 0;
  background-color: #ef8172;
}

.carousel-control-next {
  border-width: 0;
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Call To Action */

/* Footer */

.footer-icon {
  /* color: #8f8f8f; */
  margin: 1% 2% 3%;
}
